.footer{
  background-color: #e3e3e3;

  &-inner{
    padding: 67px 0;
  }

  &-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 73px;
  }

  &__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 148.9%;
    color: #000;
    margin-bottom: 12px;
  }

  &__list{

    &__link,
    &__text{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 148.9%;
      color: #000;
      text-decoration: none;
      display: block;
      margin-bottom: 6px;
    }

    &__link:hover{
      opacity: 0.8;
    }
  }

  &__copy{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 148.9%;
    color: #000;
  }

  &-bottom{
    display: flex;
    justify-content: space-between;
  }
}