*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

.container{
  width: 1190px;
  margin: 0 auto;
}

// .bg{
//   // position: relative;

//   // &::after{
//   //   content: '';
//   //   position: absolute;
//   //   left: 0;
//   //   top: 0;
//   //   width: 100%;
//   //   // height: auto;
//   //   height: 1800px;
//   //   background-image: url('./../images/pages/main/slider/Group\ 1.png');
//   //   background-repeat: no-repeat;
//   //   background-size: contain;
//   // }
  
// }