.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper {
  width: 100%;
  height: 100%;

  /*refactoring*/
  /*убрать important*/
  &-scrollbar.swiper-scrollbar-horizontal{
    opacity: 1 !important;
    bottom: -40px !important;
    background-color: #000;
    height: 1px !important;
  }
}

.swiper-scrollbar-drag{
  height: 10px !important;
  background: #0F8CD2 !important;
  border-radius: 17px !important;
  top: -5px !important;
}

.slider{
  position: relative;
  width: 808px;

  &-wrapper{
    padding-top: 205px;
  }

  &-inner{
    width: 100%;
  }
}

.slide{
  position: relative;
  cursor: grab;
  height: 471px;

  &__block{

    &__image{
      width: 100%;
      height: 100%;

      &-wrapper{
        width: 533px;
        height: 425px;
      }
    }
  }

  &__info{
    width: 476px;
    height: 295px;
    background-color: #fff;
    position: absolute;
    right: 0;
    bottom: -35px;
    padding: 10px 30px 61px 30px;
  }

  &__title{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 148.9%;
    color: #000000;
    margin-bottom: 7px;
  }

  &__subscription{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 148.9%;
    color: #000000;
    margin-bottom: 42px;  
  }

  &__btn{
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 148.9%;
    color: #000000;
    text-decoration: none;
    padding-right: 63px;
    position: relative;
    display: block;

    &::after{
      content: '';
      width: 40px;
      height: 7px;
      position: absolute;
      right: 0;
      top: 0;
      background-image: url('./../images/blocks/main/slider/arrow.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
}