mixin header  
  header.header
    .header-top
      .container
        .header-top-inner
          .header__logo
            a(href='#')
              img.header__logo__image(src=require('./images/header/logo.svg') alt='logo')
          nav#nav.header__menu
            ul#header__list.header__list
              li.header__list__item
                a.header__list__link(href='#') Главная
              li.header__list__item
                a.header__list__link(href='#') О Компании
              li.header__list__item.submenu-link
                a.header__list__link(href='#') Услуги
                ul.header__submenu
                  li.header__list__item
                    a.header__list__link(href='#') Стеллажи
                  li.header__list__item
                    a.header__list__link(href='#') Шкафы
                  li.header__list__item
                    a.header__list__link(href='#') Теплицы
                  li.header__list__item
                    a.header__list__link(href='#') Заграждения
              li.header__list__item
                a.header__list__link(href='#') Галерея
              li.header__list__item
                a.header__list__link(href='#') Контакты
          .header__search
            input.header__search__input(type='text' placeholder='Поиск...')
            
            img.header__search__logo(src=require('./images/header/search-icon.svg') alt='search-icon')
      
    .header-bottom
      .container 
        .header-bottom-inner 
          .header__box 
            h1.header__title ООО «М-групп»
            .header__info 
              |более 10 лет осуществляет производство и 
              |продажу металлических изделий и оборудования, 
              |являясь единственным за Уралом производителем 
              |передвижных (мобильных) архивных стеллажей.
            a.header__btn(href="#") Узнать больше 
          .header__box 1
