mixin footer 
  footer.footer 
    .container 
      .footer-inner 
        .footer-top 
          .footer__box 
            .h3.footer__title ИНФОРМАЦИЯ
            ul.footer__list 
              li.footer__list__item 
                a(href="#").footer__list__link REVOCATION FORM
              li.footer__list__item
                a(href="#").footer__list__link FAQ
              li.footer__list__item 
                a(href="#").footer__list__link RETURNS
              li.footer__list__item
                a(href="#").footer__list__link SHIPPING
              li.footer__list__item 
                a(href="#").footer__list__link CONTACT
              li.footer__list__item 
                a(href="#").footer__list__link MESH SIZE INSTRUCTIONS
          .footer__box 
            .h3.footer__title КОНТАКТЫ
            ul.footer__list 
              li.footer__list__item 
                span.footer__list__text ТЕЛ: +7(8888)888-888
              li.footer__list__item
                span.footer__list__text ТЕЛ: +7(8888)888-888
              li.footer__list__item 
                span.footer__list__text MAIL:88888@mail.ru 
          .footer__box 
            .h3.footer__title АДРЕСС
            ul.footer__list 
              li.footer__list__item 
                span.footer__list__text ТЕЛ: +7(8888)888-888
              li.footer__list__item
                span.footer__list__text ТЕЛ: +7(8888)888-888
              li.footer__list__item 
                span.footer__list__text MAIL:88888@mail.ru 
        .footer-bottom
          span.footer__copy © Copyright 2012 - 2020 | ООО "М-Групп"