.menu-block{
  position: fixed;
  top: 70px;
  right: 10px;
  display: flex;
  flex-direction: column;
}

.burger{
  position: fixed;
  top: 15px;
  right: 20px;
  display: none;
}

.menu-btn{
  display: block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  position: relative;
  background-color: #0F8CD2;
  opacity: 0.7;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 20px;
  height: 2px;
  background-color: #222;
}

.menu-btn span::before,
.menu-btn span::after{
  content: '';
  display: block;
  transition: 0.3s;
}

.menu-btn span::before{
  transform: translate(-50%,-7px);
}

.menu-btn span::after{
  transform: translate(-50%,5px);
}

.menu-btn_active span{
  height: 0;
}

.menu-btn_active span:before{
  transform: rotate(45deg);
  left: 0;
}

.menu-btn_active span:after{
  transform: rotate(-45deg);
  left: 0;
}

.menu-responsive_navigation{
  transition: 0.3s;
  transform-origin: center top;
  transform: scaleY(0) translateY(-20%);
  opacity: 0;
  margin: 0;
  list-style: none;
  background-color: #0F8CD2;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
}

.menu-responsive_list{
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.menu-responsive_link{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 12px 24px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-decoration: none;
    transition-duration: .25s;
}

.menu-nav_active{
    transform: scaleY(1) translateY(0);
    opacity: 1;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-decoration: none;
    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

#zapas{
    display: none;
}